.body-container {
    font-family: 'Lora', serif;
    margin-top: 200px;
    font-size: 33px;
    text-align: center;
    
    
}

.belowHeader {
    font-family: 'Nunito', sans-serif;
    font-size: 30px;
}

#magnify {
    width: 100%;
    flex-direction: row;
    justify-content: center;
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
}

.redBox {
    background-color: red;
    height: 100px;
    width: 100px;
}