.gridbody-container {
    font-family: 'Lora', serif;
    font-size: 33px;
    margin-top: 350px;

}

#helpful{
    margin-bottom: 100px;
}

.gridPlaceholder {
    background-color: red;
    height: 200px;
    width: 200px;
}



.gridText {
    font-family: 'Nunito', sans-serif;
}

.blueText {
    font-family: 'Nunito', sans-serif;
    color: royalblue;
    margin-top: 40px;
}

#belowSearch{
    margin-top: 500px;
    margin-right: 200px;
}